{{ form.hidden_tag() }}

<div class="row">
    <div class="col-md-4 mb-3">
        {{ form.number.label }}
        {{ form.number(class="form-control") }}
    </div>

    <div class="col-md-8 mb-3">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-3">
        {{ form.contract_type.label }}
        {{ form.contract_type(class="form-select") }}
    </div>

    <div class="col-md-4 mb-3">
        {{ form.contract_date.label }}
        {{ form.contract_date(class="form-control") }}
    </div>

    <div class="col-md-4 mb-3">
        {{ form.status.label }}
        {{ form.status(class="form-select") }}
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        {{ form.client_id.label }}
        {{ form.client_id(class="form-select") }}
    </div>

    <div class="col-md-6 mb-3">
        {{ form.object_id.label }}
        {{ form.object_id(class="form-select") }}
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        {{ form.contractor_name.label }}
        {{ form.contractor_name(class="form-control") }}
    </div>

    <div class="col-md-6 mb-3">
        {{ form.supplier_name.label }}
        {{ form.supplier_name(class="form-control") }}
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-3">
        {{ form.start_date.label }}
        {{ form.start_date(class="form-control") }}
    </div>

    <div class="col-md-4 mb-3">
        {{ form.end_date.label }}
        {{ form.end_date(class="form-control") }}
    </div>

    <div class="col-md-4 mb-3">
        {{ form.acceptance_place.label }}
        {{ form.acceptance_place(class="form-control") }}
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-3">
        {{ form.amount.label }}
        {{ form.amount(class="form-control") }}
    </div>

    <div class="col-md-4 mb-3">
        {{ form.vat_rate.label }}
        {{ form.vat_rate(class="form-control", placeholder="20%") }}
    </div>

    <div class="col-md-4 mb-3">
        {{ form.warranty_months.label }}
        {{ form.warranty_months(class="form-control") }}
    </div>
</div>

<div class="mb-3">
    {{ form.delivery_terms.label }}
    {{ form.delivery_terms(class="form-control", rows="3") }}
</div>

<div class="mb-3">
    {{ form.acceptance_procedure.label }}
    {{ form.acceptance_procedure(class="form-control", rows="3") }}
</div>

<div class="mb-3">
    {{ form.penalty_terms.label }}
    {{ form.penalty_terms(class="form-control", rows="3") }}
</div>

<div class="mb-3">
    {{ form.description.label }}
    {{ form.description(class="form-control", rows="4") }}
</div>

<div class="mb-3">
    {{ form.document.label }}
    {{ form.document(class="form-control") }}
</div>

{{ form.submit(class="btn btn-success") }}