{% extends "base.html" %}

{% block content %}
<h2 class="page-title">Клиенты</h2>

<a href="{{ url_for('main.client_add') }}" class="btn btn-primary mb-3">Добавить клиента</a>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Тип</th>
        <th>Наименование</th>
        <th>Телефон</th>
        <th>Email</th>
        <th></th>
    </tr>

    {% for client in clients %}
    <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.client_type }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.email }}</td>
        <td>
            <a href="{{ url_for('main.client_detail', id=client.id) }}" class="btn btn-sm btn-outline-primary">Открыть</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}