{{ form.hidden_tag() }}

<div class="mb-3">{{ form.name.label }} {{ form.name(class="form-control") }}</div>
<div class="mb-3">{{ form.address.label }} {{ form.address(class="form-control") }}</div>
<div class="mb-3">{{ form.work_type.label }} {{ form.work_type(class="form-control") }}</div>
<div class="mb-3">{{ form.status.label }} {{ form.status(class="form-select") }}</div>
<div class="mb-3">{{ form.start_date.label }} {{ form.start_date(class="form-control") }}</div>
<div class="mb-3">{{ form.end_date.label }} {{ form.end_date(class="form-control") }}</div>

{{ form.submit(class="btn btn-success") }}